@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'MedievalSharp';
    src: url(/app/fonts/MedievalSharp-Regular.ttf);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes blurEffectSide {
  0%{
    filter: blur(0px);
  }
  100%{
    filter: blur(4px);
  }
}

@keyframes blurEffectMiddle{
  0%{
    filter: blur(2px);
    transform: scaleX(100%);
  }
  100%{
    filter: blur(4px);
    transform: scaleX(102%);
  }
}